*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
  padding: 5px 5px;
}
main{
  height: 100%;
  width: 100%;
}
.navi{
  height: 10%;
  width: 100%;
  background-color: rgb(61, 159, 185);
  padding: 10px 10px;
  margin-bottom: 15px;
}
nav{
  display: flex;
  justify-content: space-between;
}
#createbtn{
  background-color: rgb(248, 142, 94);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: medium;
  cursor: pointer;
}
.products{
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.product_card{
  height: 45%;
  width: 24%;
  border: 2px solid rgb(88, 88, 88);
  box-shadow: 3px 0px 10px rgb(106, 106, 106);
  background-color: whitesmoke;
}
.img{
  height: 60%;
  width: 100%;
  padding: 2px;
}
.img img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.text{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.btns{
  
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
.btns button{
  border-radius: 10%;
  background-color: rgb(220, 128, 66);
  padding: 3px 5px;
  cursor: pointer;
  outline: none;
  border: 0cap;
}
.form{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(247, 246, 246, 0.623);
  align-items: center;
  justify-content: center;
 display: none;
}
.cross{
  position: absolute;
  top: 38%;
  right: 36%;
  display: flex;
  justify-content: space-between;
}
form{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
form button{
  border-radius: 10px;
  background-color: bisque;
}