*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#blub{
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
}
button{
    background-color: black;
    border-radius: 20%;
    border: 2px,solid,white;
    height: 20px;
    width: 40px;
    color: white;
}
#blub.lightup{
    background-color: yellow;
}